services:
  producer_api:
    build: ./producer_api
    ports:
      - "8001:8001"

  processing_api:
    build: ./processing_api
    ports:
      - "8002:8002"
    depends_on:
      - producer_api

  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: aerostream
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: malika123
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5432:5432"  
    volumes:
      - /pgdata:/var/lib/postgresql/data

  airflow:
    build: ./airflow
    depends_on:
      - postgres
      - processing_api
    ports:
      - "8080:8080"
    environment:
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__CORE__EXECUTOR: "LocalExecutor"
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: "postgresql+psycopg2://postgres:malika123@postgres:5432/aerostream"
    command: >
      bash -c "
        airflow db init &&
        airflow users create --username admin --firstname Admin --lastname User --role Admin --email admin@example.com --password admin || true &&
        airflow scheduler &
        airflow webserver
      "

    volumes:
      - airflow_logs:/opt/airflow/logs

  dashboard:
    build: ./dashboard
    depends_on:
      - postgres
    ports:
      - "8501:8501"
  adminer:
      image: adminer
      restart: always
      ports:
       - "8081:8080"
      depends_on:
        - postgres

volumes:
  pgdata:
  airflow_logs:
